body {
  background-color: white;
}

/* navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #111;
  }
/* navigation bar */

.button1 {background-color: #8a3ab9;}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

a {
  color:black;
  font-style: italic;
}

select:hover {
  color: green;
}



/* ===============box model dan Grid==================== */
/* style header */
header {
    margin: 1px;
    background-color: #0dcaf0;
    font-family: arial;
}

/* style body */
table {
  margin: 10px;
  padding: 5px;
}

.container {
    margin: 15px;
    border: 3px solid #333;
    padding: 7px;

}
h2, p {
    font-family: arial;
}

/* style footer */
footer {
    background-color: #0dcaf0;
    text-align: center;
    font-family: arial;
}

/* 
- dropdown dan Flexbox tidak di pakai karena harus di bongkar webnya bikin lagi
( layout juga agak kurang rapih karena belum lancar FlexBox dan Grid sistem )
*/